body {
  text-align: center;
  background-color: antiquewhite;
}
table {
  margin: 100px auto;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #dcdcdc;
}

.modal {
  background-color: rgb(231, 185, 124);
  display: none;
}

.emoji,
.level,
.hint {
  cursor: pointer;
}

.mode {
  padding-left: 70%;
  cursor: pointer;
}
